<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <title>Notification</title>
</head>
<body style="margin: 0; padding: 0;">
    <table align="center"  cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center" style="padding: 40px 0 30px 0;">
 
                <img src="https://tecdevsmx.com/cdental_uploads/assets/header.cotizacion.email.png" alt="Creating Email Magic"  style="display: block;" />
                
            </td>
        
        </tr>
        
        <tr>
            <td style="font-size: 0;" height="10">
                <table  cellpadding="25" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: black; font-size: 24px; text-align: justify;">
                            <strong>Hola,</strong>
                            <div style="margin-top: 45px; font-size: 18px; text-align: justify;">
                                <p>
                                    Recientemente solicitaste la cotización de uno de nuestros servicios en <strong><%= Clinica %></strong> con la(el) <strong>Dr(a). <%= Dentista %></strong>
                                </p>
                                <p>
                                    A continucación, te mostramos los detalles del servicio en cuestión.
                                </p>
                            </div>
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td>
                            <table  cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                <tr>
                                    <td width="260" valign="top">
                                        <table  cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <img src="https://tecdevsmx.com/cdental_uploads/assets/body.services.png" alt="" width="100%" height="140" style="display: block;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 25px 0 0 0; font-size: 12px;">
                                                    <p style="margin-bottom: 0; font-weight: 700; font-size: 18px;" > <%= Servicio %> </p>
                                                    <p style="font-size: 14px;" >Servicio</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                    <td width="260" valign="top">
                                        <table  cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <img src="https://tecdevsmx.com/cdental_uploads/assets/body.services.png" alt="" width="100%" height="140" style="display: block;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 25px 0 0 0; font-size: 12px;">
                                                    <p style="margin-bottom: 0; font-weight: 700; font-size: 18px;" > <%= SubServicio %> </p>
                                                    <p style="font-size: 14px;" >SubServicio</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                         </td>
                    </tr>
                    <tr>
                        <td>
                            <table  cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                <tr>
                                    <td width="260" valign="top">
                                        <table  cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <img src="https://tecdevsmx.com/cdental_uploads/assets/body.about.png" alt="" width="100%" height="140" style="display: block;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 25px 0 0 0; font-size: 12px;">
                                                    <p style="margin-bottom: 0; font-weight: 700; font-size: 18px;" > <%= Descripcion %> </p>
                                                    <p style="font-size: 14px;" >Descripcion</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                    <td width="260" valign="top">
                                        <table  cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <img src="https://tecdevsmx.com/cdental_uploads/assets/body.costo.png" alt="" width="100%" height="140" style="display: block;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 25px 0 0 0; font-size: 12px;">
                                                    <p style="margin-bottom: 0; font-weight: 700; font-size: 18px;" > <%= Costo %> </p>
                                                    <p style="font-size: 14px;" >Costo</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                         </td>
                    </tr>
                    <tr>
                        <td>
                            <table  cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                                <tr>
                                    <td width="260" valign="top">
                                        <table  cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <img src="https://tecdevsmx.com/cdental_uploads/assets/body.total.png" alt="" width="100%" height="140" style="display: block;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 25px 0 0 0; font-size: 12px;">
                                                    <p style="margin-bottom: 0; font-weight: 700; font-size: 18px;" > <%= Total %> </p>
                                                    <p style="font-size: 14px;" >Total</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                    <td width="260" valign="top">
                                        <table  cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td style="width: 220px;" > 
                                                    <img src="https://tecdevsmx.com/cdental_uploads/assets/body.comentarios.png" alt="" width="100%" height="140" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 25px 0 0 0;">
                                                    <p style="margin-bottom: 0; font-weight: 700; font-size: 18px;" > <%= Comentarios %> </p>
                                                    <p style="font-size: 14px;" >Comentarios</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                         </td>
                    </tr>
                    
                    <tr>
                        <td style="color: black; font-size: 24px; text-align: justify;">
                            <div style="margin-top: 20px; font-size: 18px;">
                                <p>
                                    El objetivo de esta notificación es solamente informativo y unicamente se proporciona a los usuarios con interés en el mismo.
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
                <table  cellpadding="0" cellspacing="0" width="100%">
 
                    <tr>
                    
                        <td style="color: #ffffff; font-size: 14px;">
 
                            &reg; TecDevsMx<br/>
                            <p>
                                Si crees que se trata de un error, contacta a 
                                <a href="#" style="color: #ffffff;"><font color="#ffffff">cdental.support@tecdevsmx.com</font></a>
                            </p>
                        </td>
                    
                   <td align="right">
 
                    <table border="0" cellpadding="0" cellspacing="0">
                    
                   <tr>
                    
                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp; sdas</td>                    
                    <td>
                    
                    <a href="https://www.facebook.com/TecDevs-107210844740276/?view_public_for=107210844740276">
                        <img src="https://img.icons8.com/android/24/ffffff/facebook.png" alt="Facebook" width="38" height="38" style="display: block;" border="0"/>
                    </a>
                    
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp; sdas</td>                    
                    <td>
                    
                    <a href="https://www.instagram.com/tecdevsmx/">
                        <img src="https://img.icons8.com/metro/26/ffffff/instagram-new.png" alt="Facebook" width="38" height="38" style="display: block;" border="0"/>
                    </a>
                    
                    </td>
                    
                   </tr>
                    
                    </table>
                    
                   </td>
                    
                    </tr>
                    
                   </table>
                
            </td>
        </tr>
    </table>
</body>
</html>